
<nav>
  <div class="flexi-nav">
    <app-social color="#b978aa"> </app-social>
    <div class="logo">
      <h4>&nbsp;&nbsp;food</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for</h4>
      <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;soul</h4>
    </div>
    <div class="search-container">
      <form action="" class="search-bar">
        <input type="text" placeholder="Search.." name="q" />
      </form>
    </div>
  </div>
  <div class="container">
    <div
      class="menu_icon"
      [class.menu_iconClass]="menu_icon_variable"
      (click)="openMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="menu" [class.menuClasse]="menuVariable">
      <ul>
       <li><a href="#">About</a></li>
       <li><button class="button-cat" mat-button [matMenuTriggerFor]="categories">CATEGORIES</button></li>
        <mat-menu #categories="matMenu">
          <button mat-menu-item>Breakfast</button>
          <button mat-menu-item>Lunch</button>
          <button mat-menu-item>Brunch</button>
          <button mat-menu-item>Dinner</button>
          <button mat-menu-item>Dessert</button>
        </mat-menu>
        <li><a routerLink="/blogpost">Blogs</a></li>
        <li><a routerLink="/profile">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
