<footer>
    <div class="social">
    <app-social color="white"></app-social>
    <div class="copyright">
        &#169;&nbsp;Food For Soul. All rights reserved.
    </div>
</div>
    <div class="line"></div>
        <h3>SUBSCRIBE NOW</h3>
        <mat-form-field appearence="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email"/>
        </mat-form-field>

        <app-button color="pink" text="Subscribe" (btnClick)="subscribeToBlog()"></app-button>





</footer>