<section class="post container">
    <div class="post-box">
        <img src="assets/images/berries.jpg" alt="" class="post-img">
        <h2 class="category">Breaky</h2>
        <a  class="post-title">
            Berries
        </a>
        <span class="post-date">12 feb 2022</span>
        <p class="post-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <app-button routerLink="/blog" color="#e8bada" text="Read More"></app-button>
    </div>
    <div class="post-box">
        <img src="assets/images/berries.jpg" alt="" class="post-img">
        <h2 class="category">Breaky</h2>
        <a  class="post-title">
            Berries
        </a>
        <span class="post-date">12 feb 2022</span>
        <p class="post-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <app-button color="#e8bada" text="Read More"></app-button>
    </div>
    <div class="post-box">
        <img src="assets/images/berries.jpg" alt="" class="post-img">
        <h2 class="category">Breaky</h2>
        <a  class="post-title">
            Berries
        </a>
        <span class="post-date">12 feb 2022</span>
        <p class="post-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <app-button color="#e8bada" text="Read More"></app-button>
    </div>
</section>